{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'article_add' %}">Add Article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'article_update' article.pk %}">Update</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'article_delete' article.pk %}">Delete</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Article:</h1>
    <p>{{ test }}</p>
    <p>{{ article.title }}</p>
    <p>{{ article.content }}</p>
    <p>{{ article.author }}</p>
    <h3>Comments:</h3>
    {% for comment in article.comments.all %}
        <p>{{ comment.text }}</p>
        {%  empty %}
        <p>Комментариев нет</p>
    {% endfor %}
{% endblock %}